<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body class="text-center">
<body style="background-color:#f1efef">
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form method="POST" action="/login">
            <div class="text-center p-5">
                <p class="h2 fw-bold" style="text-align: Left">Please sign in</p>
                <input name="j_username" class="form-control" placeholder="Email address" size="45" type="email">
                <input name="j_password" class="form-control" placeholder="Password" size="45" type="password">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
</body>
</body>
</html>